{{ define "main" }}

<div class="parallax-section parallax-text-right parallax-bg bg-logo-left">
	<div class="main-row-right">
		<h1 class="parallax-text-header">Turning difficult into<br/> divine simplicity.</h1>
		<h2>Welcome to Shepherd's Oasis.</h2>
	</div>
</div>
<div class="parallax-section parallax-text-left bg-logo-color-0">
	<div class="main-row-left">
		<div class="main-column-12-8">
			<h2><i class='far fa-keyboard'></i> Software Contracting</h2>
			<p class="larger-text">Know exactly what you want to do, and need skilled hands to carry it out?</p>
			<a href="{{ "/contact/contracting/" | relURL }}" class="borderless"><button  type="button" class="button main-button main-button-color-0">Get in touch.</button></a>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="{{ "/img/main/contracting.png" | relURL }}">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right bg-logo-color-1">
	<div class="main-row-right">
		<div class="main-column-12-8">
			<h2>Software Consulting <i class='fas fa-chalkboard'></i></h2>
			<p class="larger-text">Have a concept but need a solid, performance-oriented, data-driven design followed up by a concrete deliverable?</p>
			<a href="{{ "/contact/consulting/"| relURL }}" class="borderless"><button type="button" class="button main-button main-button-color-1">Let us help.</button></a>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="{{ "/img/main/consulting.png"| relURL }}">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-left bg-logo-color-2">
	<div class="main-row-left">
		<div class="main-column-12-8">
			<h2><i class='fas fa-search-location'></i> Code Review and Debugging</h2>
			<p class="larger-text">Sometimes its hard to find the issues or discover larger bugs when the team is focused on the details day in and day out.</p>
			<a href="{{ "/contact/review/" | relURL }}" class="borderless"><button type="button" class="button main-button main-button-color-2">Get a fresh & objective look.</button></a>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="{{ "/img/main/review.png"| relURL }}">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right bg-logo-color-3">
	<div class="main-row-right">
		<div class="main-column-12-8">
			<h2><i class='fas fa-book-reader'></i> Shared Insights</h2>
			<p class="larger-text">Posts from our experts and other invited guests on various topics.</p>
			<a href="{{ "/posts/" | relURL }}" class="borderless"><button type="button" class="button main-button main-button-color-3">Take a read.</button></a>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="{{ "/img/main/posts.png" | relURL }}">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-left bg-logo-color-4">
	<div class="main-row-left">
		<div class="main-column-12-8">
			<h2><i class='fas fa-award'></i> Open Source & Standardization</h2>
			<p class="larger-text">With years of open source contributions, successful standardization through ISO/IEC Working Groups, and compiler toolchain modification experience, you'll see your needs reflected in the languages you work in.</p>
			<a href="{{ "/contact/opensource/" | relURL }}" class="borderless"><button type="button" class="button main-button main-button-color-4">Leverage source-available code.</button></a>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="{{ "/img/main/opensource.png" | relURL }}">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right bg-logo-color-5">
	<div class="main-row-right">
		<div class="main-column-12-8">
			<h2><i class='fas fa-hands-helping'></i> Diversity & Inclusivity</h2>
			<p class="larger-text">Empower your organization and give your constituents a seat at the table.</p>
			<a href="{{ "/contact/inclusivity/" | relURL }}" class="borderless"><button type="button" class="button main-button main-button-color-5">Learn to retain top talent.</button></a>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="{{ "/img/main/inclusivity.png" | relURL }}">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right parallax-bg bg-logo-left">
	<div>
		<h3 class="parallax-text-header">We look forward to meeting your needs. 💙</h3>
	</div>
</div>

{{ end }}
