{{ define "main" }}
<div class="parallax-section parallax-text-right parallax-bg bg-logo-left">
	<div class="main-row">
		<h1 class="parallax-text-header">Turning difficult into<br/> divine simplicity.</h1>
		<h2>Welcome to Shepherd's Oasis.</h2>
	</div>
</div>
<div class="parallax-section parallax-text-left bg-logo-color-0">
	<div class="main-row-left">
		<div class="main-column-12-8">
			<h2><i class='far fa-keyboard'></i> Software Contracting</h2>
			<p class="larger-text">Know exactly what you want to do, and need skilled hands to carry it out?</p>
			<button class="button main-button main-button-color-0"><a href="/contact/contracting/" class="borderless">Get in touch.</a></button>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="/img/main/contracting.png">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right bg-logo-color-1">
	<div class="main-row-right">
		<div class="main-column-12-8">
			<h2>Software Consulting <i class='fas fa-chalkboard'></i></h2>
			<p class="larger-text">Have a concept but need a solid, performance-oriented, data-driven design followed up by a concrete deliverable?</p>
			<button class="button main-button main-button-color-1"><a href="/contact/consulting/" class="borderless">Let us help.</a></button>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="/img/main/consulting.png">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-left bg-logo-color-2">
	<div class="main-row-left">
		<div class="main-column-12-8">
			<h2><i class='fas fa-search-location'></i> Code Review and Debugging</h2>
			<p class="larger-text">Sometimes its hard to find the issues or discover larger bugs when the team is focused on the details day in and day out.</p>
			<button class="button main-button main-button-color-2"><a href="/contact/review/" class="borderless">Get a fresh & objective look.</a></button>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="/img/main/review.png">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right bg-logo-color-3">
	<div class="main-row-right">
		<div class="main-column-12-8">
			<h2><i class='fas fa-book-reader'></i> Shared Insights</h2>
			<p class="larger-text">Posts from our experts and other invited guests on various topics.</p>
			<button class="button main-button main-button-color-3"><a href="/posts/" class="borderless">Take a read.</a></button>
		</div>
		<div class="main-column-12-2 main-column-too-small">
			<img class="main-image" src="/img/main/posts.png">
		</div>
	</div>
</div>
<div class="parallax-section parallax-text-right parallax-bg bg-logo-left">
	<div>
		<h3 class="parallax-text-header">Enjoy your stay. 💙</h3>
	</div>
</div>
{{ end }}
