{{ define "main" }}
<article class="post">
	<header>
		<div class="title">
			<h1><a href="{{ .RelPermalink }}">{{ with .Title }}{{ . }}{{ else }}{{ i18n "feedback" }}{{ end }}</a></h1>
			{{ with .Description }}<p>{{ . }}</p>{{ end }}
		</div>
	</header>
	<div id="content">
		{{ if .Params.form_before }}
		{{ else }}
			{{ .Content }}
		{{ end }}
		<div>
			{{ if .Params.netlify }}
			<form name="{{ .Params.form_name }}" action="{{ .Params.form_action }}" method="post" data-netlify-recaptcha="true" data-netlify="true" center width="300px">
			{{ else }}
			<form id="{{ .Params.form_name }}" action="{{ .Params.form_action }}" method="post" center width="300px">
			{{ end }}
				<label for="reason[]">I am unsubscribing because...</label>
				<select class="feedback-selection" multiple id="reason[]" name="Unsubscribing reason" size="5">
					<option value="No longer interested.">I am no longer interested in Shepherd's Oasis or their technical content.</option>
					<option value="Not useful or relevant.">The contents were not useful or relevant to me.</option>
					<option value="Not enough time to read.">I do not have the time to read the newsletters or related content.</option>
					<option value="The newsletter is spammy.">The newsletter came too often for me.</option>
				</select>
				<fieldset>
					<label>Anything else you want to share?
						<textarea placeholder="{{ i18n "form_body" }}" type="text" name="message" tabindex="6"></textarea>
					</label>
				</fieldset>
				<fieldset>
					<div data-netlify-recaptcha="true"></div>
					<button name="submit" class="button" type="submit" id="contact-submit" tabindex="5">{{ i18n "submit" }}</button>
				</fieldset>
			</form>
		</div>
		{{ if .Params.form_before }}
			{{ .Content }}
		{{ else }}
		{{ end }}
	</div>
</article>
{{ end }}
