.cosy h1 {
	text-align: center;
	font-size: 2em;
	border-bottom: 2px solid var(--accent-color);
	margin: 1.2em;
}

.cosy .logo {
	display: block;
	margin: 2em auto 2em auto;
}

.cosy .relative-container section {
	position: relative;
	margin: 2em auto;
	height: 100%
}

.cosy .relative-container section .banner {
	position: relative;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.cosy .relative-container section:after {
	content: "";
	display: block;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 20em;
}

.cosy .relative-container section:nth-child(1):after {
	background-image: url("/img/cosy/prague-meetup.jpg");
}
.cosy .relative-container section:nth-child(2):after {
	background-image: url("/img/cosy/person-on-couch-with-laptop-legs-stretched.jpg");
}
.cosy .relative-container section:nth-child(3):after {
	background-image: url("/img/cosy/conference-seats.jpg");
}
.cosy .relative-container section:nth-child(4):after {
	background-image: url("/img/cosy/person-on-couch-with-laptop-sitting.jpg");
}
.cosy .relative-container section:nth-child(5):after {
	background-image: url("/img/cosy/excited-man-sitting-at-table-with-laptop.jpg");
}
.cosy .relative-container section:nth-child(6):after {
	background-image: url("/img/cosy/large-pexels-gathering.jpg");
}

@media only screen and (max-width: 600px) {
	.relative-container section .banner {
		width: 80%;
	}
	.relative-container section:after {
		height: 10em;
	}
}
