:root {
	--cosy-text-button-color: #ada200;
	--cosy-text-button-background-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--cosy-text-button-color: #ffdb10;
		--cosy-text-button-background-color: #444444;
	}
}

.cosy h1 {
	text-align: center;
	font-size: 2em;
	border-bottom: 2px solid var(--accent-color);
	margin: 1.2em auto 1.2em auto;
}

.cosy .logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.cosy .relative-container section {
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	height: 100%
}

.cosy .relative-container section .banner {
	position: relative;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.cosy .relative-container section:after {
	content: "";
	display: block;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	height: 20em;
}

.cosy .relative-container section:nth-child(1):after {
	background-image: url("/img/cosy/prague-meetup.jpg");
}
.cosy .relative-container section:nth-child(2):after {
	background-image: url("/img/cosy/person-on-couch-with-laptop-legs-stretched.jpg");
}
.cosy .relative-container section:nth-child(3):after {
	background-image: url("/img/cosy/conference-seats.jpg");
}
.cosy .relative-container section:nth-child(4):after {
	background-image: url("/img/cosy/person-on-couch-with-laptop-sitting.jpg");
}
.cosy .relative-container section:nth-child(5):after {
	background-image: url("/img/cosy/excited-man-sitting-at-table-with-laptop.jpg");
}
.cosy .relative-container section:nth-child(6):after {
	background-image: url("/img/cosy/large-pexels-gathering.jpg");
}

.cosy span {
	color: var(--cosy-text-button-color);
}

.cosy input {
	color: var(--cosy-text-button-color);
	border-color: var(--cosy-text-button-color);
	background-color: var(--cosy-text-button-background-color);
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.cosy h1 {
		margin: 1.2em auto 1.2em auto;
		font-size: x-large;
	}
	.cosy .relative-container section .banner {
		width: 80%;
	}
	.cosy .relative-container section:after {
		height: 8em;
	}
}
